# Byte-compiled / optimized
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project
debug/
*.log
*.tmp

# PyInstaller build artifacts
build/
dist/
*.zip
*.tmp

# 测试数据文件
*.dat
*.ft_session.json
*.tmp
*.zip
received_files/
